**Data Types and Structures Questions:**

1. What are data structures, and why are they important?
Data Structures:
- Data structures are specialized formats for organizing, storing, and accessing cllection of data.
- They provide efficient ways to manage information based on its characteristics and intedented uses.

Importance of Data Strucuters:
- Choosing the right data structure significantly impacts the efficiency and performance of your program.
- Well chosen data structure can simplify data manipulation (adding, removing, modifying elements), optimize searching and sorting operations and conserve memory usage.

2. Explain the difference between mutable and immutable data types with examples?
- In python, mutable and immutable refer to whether an object's state can be changed after it's created.

**Mutable Data type:**
- Mutable objects can be modified after creation.
Eg. List, Dictionary and Set are mutable data types.
    list1 = [1, 2, 3]
    list1.append(4)
    print(list1)
Output: [1, 2, 3, 4]
When original '**list1**' was created, there were only three elements in it. After that we added one more element to the list1. Hence we can say that List is mutable data type.

**Immutable Data type:**
- Immutable objects can not be modified after creation.
Eg. Tuple and String.
    tup = (1, 2, 3)
    tup.append(5)
    print(tup)
Output: AttributeError                            Traceback (most recent call last)
/tmp/ipython-input-1-3422945106.py in <cell line: 0>()
      1 tup = (1, 2, 3)
      2
----> 3 tup.append(5)
      4
      5 print(tup)

AttributeError: 'tuple' object has no attribute 'append'

Tuple is immutable data type, hence we can't add, remove or change the tuple once it is created.

3. What are the main differences between lists and tuples in Python?
- List elements are stored within square brackets "[]", while Tuple elements are stored within Parenthesis "()".
- List is mutable data type and Tuple is immutable data type.
- List data type can be used for dynamic data and Tuple can be used for fixed data.

4. Describe how dictionaries store data.
- Dictionaries in Python store data s key-value pairs.
Eg. dict_0 = {"f_name" : "Sachin", "l_name" : "Tendulkar"}
- In above example 'f_name' and 'l_name' are keys and 'Sachin' and 'Tendulkar' are values associated with those keys respectively.

5. Why might you use a set instead of a list in Python?
- List can store duplicate values as well and output will also give the duplicate values, therefore we can use Set instead of List when we want unique values only in the output.
- Set is the most suitable data type when we want inputs from the multiple users and required output is of unique values only.

6. What is a string in Python, and how is it different from a list?
- In Python, a string is a sequence of characters used to represent text. A string is enclosed in quotes (' ' or " ").
Eg. str1 = "Hello World!."

- String is enclosed in quotes while List elements are stored within square brackets.
- String is immutable whereas List is mutable.
- String can store only characters while list can store mix data types (int, float, str, bool, complext).

7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity in python primarily through their immutability. Once a tuple is created, it's elements cannot be changed, added, or removed.
- This immutability guarantees that the data within the tuple remains unchanged throughout it's lifetime unless a new tuple is created.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs and allows for fast access to values based on their keys.
- It works by using a hash function to compute an index (a hash code) into an array of buckets or slots, from which the desired value can be found.
- Hash Function: Converts a key into a fixed-size integer (the hash code).
- Buckets: A hash table uses an array to store data; the hash code determines where to store or retrieve the value.
- Collisions: When two keys hash to the same index, it's called a collision. Hash tables use strategies like chaining (storing multiple items at the same index using a list) or open addressing (finding another open slot) to handle collisions.

9. Can lists contain different data types in Python?
- Yes, Lists can contain different data types.
- Python lists are heterogeneous, meaning they can store elements of any type, including: Integers, Floats, Strings, Booleans, Other lists (nested lists), Tuples, dictionaries, sets.

10. Explain why strings are immutable in Python?
- Strings are immutable in Python, meaning once a string is created, it cannot be changed. you cannot modify, add, or remove characters from it.
- Strings are heavily used in Python (e.g., keys in dictionaries, labels, file paths).
- Immutability allows strings to be interned (shared in memory), which saves space and speeds up comparisons:
  a = "hello"
  b = "hello"
  print(a is b)  # True (same object in memory)

- Immutability allows strings to be hashable, meaning their hash value won‚Äôt change. This is crucial because strings can be used as dictionary keys or stored in sets, both of which rely on consistent hash values.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer significant advantages over lists for certain tasks, primarily due to their key-value pair structure and hash-based implementation.
- Dictionaries: Dictionaries provide near-instantaneous lookups for values based on their keys. This is because they use a hash function to directly calculate the memory address of the value, making it extremely efficient to retrieve a specific item.
- Lists: To find an item in a list, you have to iterate through the list from the beginning until you find the item you're looking for. In the worst-case scenario, this takes linear time, where 'n' is the number of elements in the list. This becomes very slow for large lists.
- Dictionaries: Keys in a dictionary must be unique. This inherent property is useful for tasks where you need to ensure that each item has a distinct identifier, preventing duplicate entries. If you try to add an item with an existing key, the old value will be overwritten.
- Lists: Lists allow for duplicate items. You can have multiple instances of the same value in a list, which is useful in some scenarios but not when you need to enforce uniqueness.

12. Describe a scenario where using a tuple would be preferable over a list.
- Scenario: Representing a Date (Year, Month, Day).
- Immutability: A date is a fixed point in time. The year, month, and day of "July 24, 2025" are not going to change. You wouldn't want to accidentally change the month from 7 to 8 for that specific date. A tuple ensures this immutability.
- eg. today = (2025, 7, 24)
# today[1] = 8 # This would cause an error (TypeError: 'tuple' object does
- Fixed Structure: A date always has three components: year, month, and day. A tuple inherently suggests this fixed number of elements.
- Readability: (2025, 7, 24) clearly represents a date. If you used a list like [2025, 7, 24], it might look the same, but the intent of it being an unchangeable, single unit is less clear.
- Why a List is Less Suitable:
- Mutability Risk: If you used today_list = [2025, 7, 24], someone could accidentally do today_list[1] = 8, silently changing the month of your "fixed" date without warning. This could lead to hard-to-find bugs later.
- If the collection of items is meant to be a permanent, unchangeable "record" or "set of facts," then a tuple is the better choice. If the collection is dynamic and you expect to add, remove, or modify elements frequently, then a list is the way to go.

13. How do sets handle duplicate values in Python?
- In Python, sets automatically eliminate duplicate values. A set is an unordered collection of unique elements‚Äîit cannot contain duplicates by design.
- If you try to add a value that‚Äôs already in the set, Python ignores it‚Äîthe set remains unchanged.
- Sets use a hash table under the hood (like dictionaries), When a value is added, Python checks its hash to see if it‚Äôs already present. If the value is already in the set, it‚Äôs not added again.

14. How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?
- The in keyword in Python is used to check for membership, but it behaves differently for lists and dictionaries based on what it's checking.
- in with Lists: Checks whether a value exists as an element in the list.
- Eg. fruits = ["apple", "banana", "cherry"]
      print("banana" in fruits) #True
      print("grape" in fruits) #False
- Searches through the list elements one by one.

- in with Dictionaries: Checks whether a key exists in the dictionary, not the value.
- Eg. person = {"name": "Alice", "age": 30}
      print("name" in person) #True (key exists)
      print("Alice" in person) #False (value, not key)

- To check if a value is in the dictionary, you need to use:
      "Alice" in person.values() #True

- Only keys are checked by default when using in.

15. Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple in Python, because tuples are immutable. This means that once a tuple is created, its contents (elements) cannot be changed, added to, or removed.
- Design Choice for Safety: Tuples are meant to represent fixed collections of items‚Äîlike coordinates, dates, or database records‚Äîwhere modification should not be allowed.
- Hashability: Tuples can be used as keys in dictionaries or stored in sets, but only because they are immutable. If they could change, their hash value would change too, breaking data structures that rely on stable hashing.
- Data Integrity: Immutability protects the data from accidental changes, which is useful in large programs where values may be passed to many places.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary in Python is a dictionary inside another dictionary. It allows you to store complex, hierarchical data structures‚Äîmuch like a table with rows and columns, or a JSON object.
- Use Case Example: Student Records System
- Suppose you're managing data for multiple students. Each student has a name, age, and marks:
- students = {
    "Alice": {
        "age": 20,
        "marks": {"math": 90, "science": 85}
    },
    "Bob": {
        "age": 22,
        "marks": {"math": 75, "science": 80}
    }
}

- Use case: To group related information together, To avoid creating multiple separate variables or flat structures that are hard to manage.

17. Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary in Python typically has an average time complexity of ùëÇ (1). This means that regardless of the size of the dictionary, the time it takes to retrieve a value associated with a key is constant on average.
- However, in the worst-case scenario, due to hash collisions or other factors, accessing elements could degrade to O(n), where n is the number of elements in the dictionary.
- But under normal circumstances, Python's dictionary implementation ensures that accessing elements remains O(1) on average, making it very efficient for tasks like lookup operations.

18. In what situations are lists preferred over dictionaries?
- Order Matters: When the order of elements is important (e.g., ordered sequences, time-series data). Lists maintain the insertion order and allow easy indexing by position.
- Simple Collections: When you just need to store a collection of items (like numbers or strings) without needing a key-value structure. Lists are simpler and more memory-efficient for such tasks.
- Index-Based Access: When you want to access elements by their position (e.g., the 3rd item). Lists allow access by integer index using list[index].
- Ordered Iteration: When you need to process items in a specific order (e.g., from first to last). Lists guarantee iteration in the same order as items were added.
- Duplicates are Needed: When the same value may appear more than once and you want to retain all instances. Lists allow duplicate values, unlike sets or dictionaries (which must have unique keys).
- Simplicity and Less Overhead: When the data structure doesn‚Äôt require fast lookups via custom keys. Lists are less complex and typically use less memory than dictionaries.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Starting from Python 3.7, dictionaries preserve insertion order as an official language feature. However dictionaries still described as "unordered" sometimes.
- Even though Python now preserves order, dictionaries are still: Accessed by key, not position (e.g., you can't do dict[0]). Conceptually unordered in many programming contexts, where order is not the primary concern‚Äîkey-based lookup is. Key-based lookup is unaffected: You can always retrieve values by key, regardless of insertion order.
- If your logic depends on the order you inserted items, it will now behave consistently.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- The main difference between a list and a dictionary in Python, especially in terms of data retrieval, lies in how elements are accessed: In List elements are accessed by index and in Dictionary elements are accessed by Key.
- Time complexity is List is O(1) for index, but O(n) to find a value, however O(1) average time to get value by key.

**Practical Questions:**

1. Write a code to create a string with your name and print it.

In [ ]:
name = "Pritesh Kokani"

print(name)

Pritesh Kokani

2. Write a code to find the length of the string "Hello World".

In [ ]:
str_0 = "Hello World"

print("Length of the string is:", len(str_0))

Length of the string is: 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
str_1 = "Python Programming"

print(str_1[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
str_2 = "hello"

print(str_2.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
str_3 = "I like apple"

new_str_3 = str_3.replace("apple", "orange")

print(str_3)
print(new_str_3)

I like apple
I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
num = range(1, 6)

print(list(num))

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list_0 = [1, 2, 3, 4]

list_0.append(10)

print(list_0)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list_1 = [1, 2, 3, 4, 5]

list_1.remove(3)

print(list_1)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']P

In [ ]:
list_2 = ['a', 'b', 'c', 'd']

print(list_2[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list_3 = [10, 20, 30, 40, 50]

print(list_3[::-1])

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tup = (100, 200, 300)

print(tup)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tup = ('red', 'green', 'blue', 'yellow')

print(tup[1:])

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tup = (10, 20, 5, 15)

print(min(tup))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tup = ('dog', 'cat', 'rabbit')

print(tup.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("banana", "kiwi", "graps")

if "kiwi" in fruits:
  print("Yes, 'kiwi' is in the tuple.")

else:
  print("No, 'kiwi' is not in the tuple")

Yes, 'kiwi' is in the tuple.

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s = { 'a', 'b', 'c' }

print(s)

{'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s = {1, 2, 3, 4, 5}

s.clear()

print(s)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)

print(s)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set_0 = {1, 2, 3}
set_1 = {3, 4, 5}

union_set = set_0.union(set_1)

print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dic0 = {"name" : "Raj", "age" : 19, "city" : "vyara"}

print(dic0)

{'name': 'Raj', 'age': 19, 'city': 'vyara'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dic1 = {'name': 'John', 'age': 25}
dic1["country"] = "USA"

print(dic1)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dic2 = {'name': 'Alice', 'age': 30}

print(dic2['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dic3 = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del dic3['age']

print(dic3)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dic4 =  {'name': 'Alice', 'city': 'Paris'}

if 'city' in dic4:
  print("Yes, 'city' exists in the dictionary.")
else:
  print("No, 'city' does not exist in the dictionary.")

Yes, 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
lis = [1, 2, 3, 4, 5]
tup = (10, 20, 5, 15)
dic = {'name': 'Alice', 'age': 30}

print(lis)
print(tup)
print(dic)

[1, 2, 3, 4, 5]
(10, 20, 5, 15)
{'name': 'Alice', 'age': 30}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()

print("Sorted random numbers:", random_numbers)

Sorted random numbers: [40, 48, 73, 89, 95]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
lis = ["Raj", "Smith", "Milind", "Gaurav"]

print("Element at third Index:", lis[3])

Element at third Index: Gaurav

29. Write a code to create a list with strings and print the element at the third index.

In [ ]:
dic_0 = {'name': 'John', 'age': 25}
dic_1 = {'city': 'New York', 'country' : 'USA'}

dic_0.update(dic_1)

print(dic_0)
#

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

30. Write a code to convert a list of strings into a set.

In [ ]:
lis = lis = ["Raj", "Smith", "Milind", "Gaurav"]

new_set = set(lis)

print(new_set)

{'Gaurav', 'Raj', 'Smith', 'Milind'}